<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>The Ultimate Reversed String!</title>
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
  </head>

  <body>
    <h1>The Ultimate Reversed String!</h1>

    <!--   Use ERB tags to bring in an instance variable containing the reversed string -->
<<<<<<< HEAD
    <h2> <%=@reversed_string%></h2> 
=======
    <h2> <%@reversed_string%></h2> 
>>>>>>> a83d682a14a3a6e55db5e698db61be6d68b09489
  </body>
</html>
